*, html, body{
    margin: 0;
    padding: 0px;
	text-decoration: none;
}
html{
	width: 100%;
}
body{
	width: 100%;
	background-color: rgba(255,255,255,1.00)
}
#navbar{
    border-bottom: solid 1px gray;
    z-index: 10000;
}
#nav2{
    z-index: 10000;
}
nav{
    background: rgba(255,255,255,0.70);
    height: 100%;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
}
.logo{
    padding-top: 10px;
    text-align: center;
}
nav ul{
	text-align: center;
 	margin: 0;
  	height: 30px;
}
nav li{
	display: inline-block;
    font-size: 25px;
    padding-right: 25px;
	transition: transform 0.075s;
}
nav li:hover{
    transform: scale(1.02);
}
nav a{
	float: center;
	color: black;
    text-decoration: none;    
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 25px;
}

.dropNew {
  color: black;
  font-size: 25px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  border: none;
  background-color: rgba(255,255,255,0.00)
}
.whatsnew {
  position: relative;
  display: inline-block;
}
.content {
    font-size: 25px;
    display: none;
    position: absolute;
    background-color: rgba(232,232,232,1.00);
    min-width: 160px;
    width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100000;
}
.content a{
	text-align: left;
  font-size: 20px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.content a:hover, .content a:focus {
    background-color: rgba(94,187,255,0.85);
}
.dropNew:hover .content {
    display: block;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.content2{
	float: right;
    font-size: 25px;
    display: none;
    background-color: rgba(232,232,232,1.00);
	position: absolute;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000000;
}
.content2 a{
  text-align: left;
  font-size: 20px;
  color: black;
  text-decoration: none;
  display: block;
 }
.distributors {
    position: relative;
    display: block;
}
.dropNew2 {
  color: black;
  font-size: 20px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border: none;
	background-color: rgba(255,255,255,0.00)
}
.content2 a:hover {
	background-color: rgba(94,187,255,0.85);
}
.dropNew2:hover .content2 {
    float: right;
    display: inline-block;
}
.europe{
	text-align: center;
    display: inline-block;
    width: 32%;
	height: 0.2%;
    vertical-align: top;
}

.content3{
	margin-left: 0;
	text-align: center;
	display: none;
	background-color: rgba(232,232,232,1.00);
	position: absolute;
	width: 400px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100000;
}
.content3 a{
  text-align: center;
  font-size: 19.5px;
  color: black;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  display: block;
 }
.content3 a:hover {
	background-color: rgba(94,187,255,0.85);
}
.dropNew2:hover .content3 {
	float: right;
	display: inline-block;
}
.content4{
	text-align: center;
	float: right;
    display: none;
    background-color: rgba(232,232,232,1.00);
	position: absolute;
    width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100000;
}
.content4 a{
  text-align: center;
  font-size: 19px;
  color: black;
  padding: 12px 16px 12px;;
	padding-right: 35px;
  text-decoration: none;
  display: block;
 }
.content4 a:hover {
	background-color: rgba(94,187,255,0.85);
}
.dropNew2:hover .content4 {
	float: right;
	display: inline-block;
}
.asia{
    display: inline-block;
    width: 45%;
    vertical-align: top;
	margin-right: 0px;
}
.contact{
	padding-left: 50px;
}
.footercontent{
    display: inline-block;
    width: 13.38%;
    vertical-align: top;
    margin-right: 5.65%;
    margin-left: 5.65%;
    margin-bottom: 20px;
}
.footercontent h3{
	font-size: 15px;
	text-decoration: none;
	color: black;
	line-height: 2;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.extra{
	padding-top: 15px;
	font-size: 18px;
	transition: transform 0.075s;
}
.extra:hover{
	transform: scale(1.02);
}
.links{
    font-size: 12px;
}
.footercontent li{
	padding-bottom: 5px;
	padding-top: 5px;
}
.footercontent a{
    text-decoration: none;
    color: black;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.footercontent li{
	transition: transform 0.075s;
}
.footercontent li:hover{
	transform: scale(1.02);
}
.footer p{
	padding-top: 10px;
    text-align: center;
	font-size: 25px;
}
.footer{
	z-index: 3;
	width: 100%;
	background-color: rgba(255,255,255,0.70);
	vertical-align: bottom;
}
ul {
  list-style-type: none;
}
.downarrow{
    display: inline-block;
	border: none;
	text-decoration: none;
	padding-top: 7px;
	background: rgba(255,255,255,0.00);
	font-size: 17px;
}
.parallax{
	background-attachment: fixed;
	background-size: cover;
	background-image: url("../cancer2.jpg"); 
	height: 100%;
	width: 100%;
}
.parallax2{
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../contactus.jpg");
    height: 630px;
    width: 100%;
}
.zetainfo{
	background-color: rgba(255,255,255,0.50);
	padding: 20px 0px 0px 20px;
	border-radius: 20;
}
.zetainfo p{
	padding-bottom: 15px;
}

.infoimage{
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    height: 560%;
    width: 45%;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	vertical-align: top;
}
.infoimage h3{
	padding-bottom: 15px;
}
.infoinfoimage h3, .check{
	display: inline-block;
	font-size: 20px;
}
.check{
	color: red;
	padding-right: 10px;
	
}
.infoimage p{
	font-size: 20px;
	line-height: 1.5;
	padding-top: 15px;
}
.infoimage h1{
	color: red;
	font-size: 50px;
}
.infoimage img{
    text-align: center;
    width: 95%;
    border-radius: 5px;
    padding-bottom: 5%;
    display: block;
	margin-top: 10%;
}
.us{
	line-height: 1.5;
    padding-top: 15%;
    display: inline-block;
    width: 49.75%;
    height: 70%;
    text-align: center;
    vertical-align: top;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 25px;
	margin-top: 2%;
}
.getintouch{
	padding-top: 15px;
}
.contactus a{
    text-decoration: none;
    color: red;
    font-size: 17px;
    background-color: #BDBDBD;
}
.touch{
    border: none;
    background-color: #66BAFF;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    border-radius: 10px;
}
.connect img{
	width: 20%;
	height: 20%;
}
#nav2 {
	z-index: 5;
  display: none;
  background-color: rgba(255,255,255,0.70);
  position: relative;
	border-bottom: solid grey 1px;
	padding-bottom: 2px;
}
#nav2 img{
	padding: 10px;
	padding-bottom: 0px;
	width: 50%;
	margin: 0;
	
}
/* Hide the links inside the navigation menu (except for logo/home) */
#nav2 #mobileDropdown {
  display: none;
}

/* Style navigation menu links */
.vertical{
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  transition: transform 0.075s;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
/* Style the hamburger menu */
.icon div{
    width: 35px;
    height: 5px;
    background-color: black;
	margin: 6px 0px;
}
.icon{
	padding: 5px;
	background-color: rgba(255,255,255,0.00);
	float: right;
	top: 0;
	right: 0;
	vertical-align: middle;
}

/* Add a grey background color on mouse-over */
.vertical:hover{
	background-color: rgba(94,187,255,0.85);
	transform: scale(1.005);
}
.active{
	width: 90%;
	display: inline-block;
}
.waffles{
	display: inline-block;
	width: 100%
}
#mobiledropdown-content, #mobiledropdown-content2, #mobiledropdown-content3, #mobiledropdown-content4, #mobiledropdown-content5,#mobiledropdown-content6, #mobiledropdown-content7,#mobiledropdown-content8{
	display: none;
}
#mobiledropdown-content a, #mobiledropdown-content2 a, #mobiledropdown-content3 a,#mobiledropdown-content4 a, #mobiledropdown-content5 a, #mobiledropdown-content6 a,#mobiledropdown-content7 a, #mobiledropdown-content8 a #mobiledropdown-content9 a{
	text-decoration: none;
	display: block;
	text-align: left;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 15px;
	padding: 12px 0px;
	color: black;
	transition: transform 0.075s;
}
#mobiledropdown-content a:hover, #mobiledropdown-content2 a:hover, #mobiledropdown-content3 a:hover,#mobiledropdown-content4 a:hover, #mobiledropdown-content5 a:hover, #mobiledropdown-content6 a:hover,#mobiledropdown-content7 a:hover, #mobiledropdown-content8 a:hover, #mobiledropdown-content9 a:hover{
	background-color: rgba(94,187,255,0.85);
	transform: scale(1.01);
}
.asia2{
	width: 49%;
	text-align: center;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	align-content: center;
}
.europe2{
	width: 49%;
	text-align: center;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	align-content: center;
}
#mobilefooter-content, #mobilefooter-content2, #mobilefooter-content3, #mobilefooter-content4, #mobilefooter-content5{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	width: 100%;
}
.footer2{
	z-index: 5;
	display: none;
	width: 100%;
}
.footerDropdown{
	width: 100%;
	display: inline-block;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: left;
	padding-bottom: 12px;
	padding-top: 12px;
	transition: max-height 0.5s ease-out;
	background-color: rgba(255,255,255,0.80);
}
.footerlinks{
	text-decoration: none;
	color: black;
	font-size: 15px;
	width: 100%;
	display: inline-block;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: left;
	padding-bottom: 12px;
	padding-top: 12px;
	transition: max-height 0.5s ease-out;
	background-color: rgba(255,255,255,0.80);
}
.footerDropdown:hover{
	background-color: rgba(94,187,255,0.85); 
}
.footerDropdown::after{
  content: "+";
  width: 20px;
  float: right;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 17px;
	vertical-align: middle;
}
.fix, .fix2, .footerDropdown{
	display: inline-block;
}
.fix{
	padding-left: 12px;
}
.fix2{
	padding-left: 25px;
	font-size: 14px;
}
.footer2show::after{
  content: '\02D7';
  width: 17px;
}
.sale{
	text-decoration: none;
	color: black;
	width: 100%;
	display: inline-block;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: left;
	padding-bottom: 12px;
	padding-top: 12px;
	transition: max-height 0.5s ease-out;
	background-color: rgba(255,255,255,0.80);
}
.footerlinks:hover{
	background-color: rgba(94,187,255,0.85); 
}
.sale:hover{
	background-color: rgba(94,187,255,0.85); 
}
.background, .double{
    height: 500px;
}
.double{
	height: 500px;
	border-top: solid 1px grey;
	border-bottom: solid 1px grey;
	display: flex;
	vertical-align: middle;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.same{
	z-index: 3;
	margin: 80px 20px 30px;
	width: 100%;
	min-width: 256px;
	max-width: 460px;
	height: 300px;
	flex: 1;
	overflow: hidden;
	outline: solid 3px red;
	box-shadow: 5px 5px 30px 5px rgba(0,0,0,0.44);
	background-color: white;
}
.mini{
	z-index: 1;
	opacity: 0.88;
	overflow: hidden;
	height: 300px;
	min-width: 250px;
	position: relative;
	transition: all 0.2s ease-out;
}
#new img, #p16 img{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 120%;
	width: auto;
	transform: translate(-50%,-50%)
}

#top, #bottom{
	display: block;
	width: 100%;
	height: 50%;
}
.button{
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	text-align: center;
	color: red;
	background-color: rgba(0,0,0,0.61);
	padding: 10px 30px;
	margin: 0px 60px;
	font-size: 24px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	transition: all 0.2s;
	text-decoration: none;
}
#new a, #p16 a, #atrx a{
	top: calc(150px - 20px);
}
#mouse a{
	top: calc(130px - 20px);
}
.mini:hover{
	transform: scale(1.02);
	opacity: 1;
}

.panel {
  background-color: white;
  max-height: 0;
  padding-left: 15px;
  overflow: hidden;
  padding-top: 0px;
  border-bottom: 4px solid #ccc;
  transition: 0.6s ease-in-out;
  opacity: 0;
  margin-bottom: 8px;
}

.panel p {
  font-size: 15px;
  line-height: 23px;
  padding: 15px 30px 20px 0;
  color: #2d2d2d
}
.mb-0{
	text-decoration: none;
	color: red;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.background {
	position: absolute;
	width: 100%;
}
@media(max-width:1200px){
	html{
		width: 100%;
	}
	#navbar{
		display: none;
	}
	nav{
		display: none;
	}
	.logo{
		display: none;
	}
	#nav2{
		display: block;
	}
	.active{
    width: 70%;
	}
	.infoimage{
		display: block;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	.infoimage img{
		text-align: center;
		margin: auto;
		width: 70%;
	}
	.infoimage h3{
		display: block;
		margin-right: 10px;
		font-size: 18px;
	}
	.infoimage p{
		font-size: 17px;
		padding: 15px 10px;
	}
	.us{
		width: 100%;
		text-align: center;
		margin: 0px;
		height: 30%;
	}
	.getintouch{
		padding-top: 5%;
	}
	.connect img{
		width: 10%;
	}
	.zetainfo img{
		padding-bottom: 20px;
	}
	.connect a{
		width: 20%;
	}
	.icon{
    margin-top: 2px;
	}
	.parallax2{
		background-attachment: scroll;
		background-size: cover;
		background-image: url("../contactus.jpg");
	}
	.parallax{
    background-attachment: scroll;
    background-size: cover;
    background-image: url(../cancer2.jpg)
	}
	#mobiledropdown-content a, #mobiledropdown-content2 a, #mobiledropdown-content3 a,#mobiledropdown-content4 a, #mobiledropdown-content5 a, #mobiledropdown-content6 a,#mobiledropdown-content7 a, #mobiledropdown-content8 a #mobiledropdown-content9 a{
		padding: 15px;
	}
	.asia2{
		padding-right: 20px;
		width: 47%;
	}
	.europe2{
		padding-right: 20px;
		width: 47%;
	}
	.double, .background{
		height: 500px;
	}

	.same, .mini{
		z-index: 15;
	}
	.background{
		z-index: 0;
	}
	.downarrow{
		font-size: 12px;
		padding-left: 3px;
	}
}
@media (max-width:1000px){
	.zetainfo img{
		padding-bottom: 20px;
	}
	.footer{
		display: none;
	}
	.footer2{
		display: block;
	}
	.background{
	}
	.double{
		background-color: rgba(182,226,241,1.00);
	}
	.footer2{
		background-color: rgba(237,237,237,1.00);
	}
	.downarrow{
		font-size: 12px;
	}
	.icon{
    margin-top: 9px;
	}

}
@media (max-width:600px){
	html{
		width: 100%;
	}
	#nav2{
		height: 80%;
	}
	#top{
		height: 45%;
		position:absolute;
		top: 0;
	}
	#bottom{
		height: 60%;
		position:absolute;
		bottom: 0;
	}
	.parallax2{
		background-attachment: scroll;
		background-size: cover;
		background-image: url("../contactus2.jpg");
	}
	.parallax{
    background-attachment: scroll;
    background-size: cover;
    background-image: url(../cancer3.jpg)
	}
	.icon div{
    width: 27px;
    margin: 4px 0px;
	}
	.icon{
    padding-top: 0px;
	}	
	.connect img{
		width: 20%;
	}
	.connect{
		padding-top: 55px;
	}
	.parallax2{
		padding-bottom: 20px;
	}
	.vertical{
		text-align: center;
	}
	#mobiledropdown-content a, #mobiledropdown-content2 a, #mobiledropdown-content3 a,#mobiledropdown-content4 a, #mobiledropdown-content5 a, #mobiledropdown-content6 a,#mobiledropdown-content7 a, #mobiledropdown-content8 a #mobiledropdown-content9 a{
		text-align: center;
	}

	.asia2 {
		padding-right: 0px;
	}
	.europe2 {
		padding-right: 0px;
	}
	.footer{
		display: none;
	}
	.footer2{
		display: block;
	}
	.zetainfo{
		padding: 15px 0px 0px;
		margin: 0px;
		text-align: center;
	}
	.zetainfo h3{
		text-align: left;
		padding-left: 15px;
	}
	.double a{
		font-size: 20px;
	}
	.button{
		margin: 0px 70px;
	}
	.double{
		padding-top: 50px;
		height: 525px;
	}
	.background{
		display: block;
	}
	.footer2{
		position:relative;
		background-color: rgba(244,244,244,1.00);
	}
    .same{
        margin-top: 0px;
    	width: 20%;
    	height: 40%;
    }
    #mouse a {
    top: calc(70px - 20px);
    }
    #new a, #p16 a, #atrx a{
    	top: calc(85px - 20px);
		margin: 0px 90px;
    }
	.infoimage img{
		padding-bottom: 20px;
	}
	.active{
		width: 90%;
		display: inline-block;
	}
	.background{
		height: 600px;
		margin: 0px;
	}
}
@media (max-width: 400px){
	.double a{
		padding-left: 25px;
		font-size: 15px;
		text-align: center;
	}
	.button{
		margin: 0px 70px;
	}
	.icon{
		margin-top: 2px;
		width: 6%
	}
	.icon div{
		width: 26px;
	}
	
}


.popup {
	background-color: white;
	vertical-align: middle;
	width: 40%;
	padding: 15px;
	margin: 0 auto;
	z-index: 1000;
}
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1500000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #FFFFFF;
}
.overlay .close:hover{
	color: red;
}
.overlay .close{
  position: absolute;
  top: 22%;
  right: 26%;
  font-size: 40px;
	color: white;
	width: 5%;
	margin: 0 auto;
	padding: 10px;
}
.popup a:hover, .popup a:focus{
	color: red;
	transform: scale(1.01);
}

.popup a {
	color: black;
	transition: transform 0.075s
}
#myNav, #myNav2, #myNav4{
	width: 100%;
	margin: 0 auto;
}
.close{
	padding: 10px;
}
.main{
	z-index: 0;
}
.main2{
	z-index: 100000;
}


