<!doctype html>
{% extends "layout.html" %}

{% block body %}
	<div class="body">
		  <div class="parallax">
		  <div class="zetainfo">
			  <div class="infoimage">
				 <div class="info">
				  <h1>Zeta Corporation</h1>
				  <p>An ISO 13485 and FDA certified biomedical company, Zeta manufactures and distributes the highest quality of antibodies to help pathologists diagnosing human diseases. Our website contains product information, technical help, and ordering information.</p>
				  <h3><p class="check">&#x2714</p>High-Quality Antibodies for Paraffin Immunohistochemistry</h3>
				<h3><p class="check">&#x2714</p>Manufactured in GMP Facility</h3>
				<h3><p class="check">&#x2714</p>Monospecific Mouse Monoclonal Antibodies</h3>
				<h3><p class="check">&#x2714</p>ISO 13485:2016 and FDA-certified</h3>
				</div>
			  </div>
			  <div class="infoimage">
				<img src="../static/AdobeStock_334065984_Preview.jpeg" alt="relavent">
			  </div>
		  </div>
		</div>
		 <div class="parallax2">
			<div class="us">
			  <div class="contactus">
				<h4>Fill out the form below to get <br>in touch with us</h4>
				<div class="getintouch">
					<button class="touch"><a href="contact.html"><h1><b>Get in touch with us!</b></h1></a></button>
				</div>
			  </div>
			</div>
			<div class="us">
			  <div class="connect">
				<h4>Connect with us on LinkedIn</h4>
				<a href="https://www.linkedin.com/company/zetacorporation" target="_blank"><img src="static/linkedinzeta.png"></a>
			</div>
		  </div>
		</div>	  
	</div>
{% endblock %}
