<!doctype html>
{% extends "layout.html" %}

{% block body %}
	<img src="static/GATA-3 -Breast-20X-1 draft (1).jpg" class="background">
	<div class="double">
		<div class="same" id="atrx">
			<div class="mini">
				<a class="button" href="index.html">INSM1/ATRX Highlight</a>
				<a href="index.html"><img id="top" src="static/INSM1(2).jpeg"></a>
				<a href="index.html"><img id="bottom" src="static/ATRX2.jpeg"></a>
			</div>
		</div>
		<div class="same" id="p16">
			<div class="mini">
				<a class="button" href="index.html">P16 Highlight</a>
				<a class="p16" href="index.html"><img src="static/p16.png"></a>
			</div>
		</div>
	</div>
{% endblock %}
