<!doctype html>
{% extends "layout.html" %}

{% block body %}
	<img src="static/AMACR.jpg" class="background">
	<div class="double">
		<div class="same" id="mouse">
			<div class="mini">
				<a class="button" href="index.html">Monospecific Mouse Monoclonal Antibodies</a>
				<a href="index.html"><img id="top" src="static/mouse1.jpeg"></a>
				<a href="index.html"><img id="bottom" src="static/mouse2.jpeg"></a>
			</div>
		</div>
		<div class="same" id="new">
			<div class="mini">
				<a class="button" href="index.html">New Antibodies in 2020</a>
				<a href="index.html"><img src="static/newin2020.jpeg"></a>
			</div>
		</div>
	</div>
{% endblock %}
